<!DOCTYPE html>
<html>
<head>
    <title>Vue Starting Study</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <!-- 
        DOM(Document Object Model)의 이해
        웹페이지에 대한 인터페이스이며 여러 프로그램들이 페이지의 콘텐츠 및 구조
        그리고 스타일을 읽고 조작할 수 있도록 API를 제공한다.

        DOM은 원본 HTML 문서의 객체 기반 표현 방식으로 노드 트리로 표현됨
        ex)
        html - head - title - <>
             \ body - h1 - <>
                    \ p - <>
        노드는 요소노드(요소 생성 태그)와 텍스트 노드(문자열)로 나뉜다

        HTML 문서 != DOM
        일반적으로 같지만 다르다
        - 유효하지 않은 HTML 문서일 경우
        - 자바스크립트에 의해 DOM이 수정된 경우
    -->
    
    <div id="app">
        {{ message }}
    </div>
    <div id="app-2">
        <!-- 속성과 바인딩 되는 v-bind -->
        <span v-bind:title="message">
            동적으로 바인딩된 title
        </span>
    </div>
    <div id="app-3">
        <!-- 조건문 -->
        <p v-if="seen">이제 날 볼 수 있어요</p>
    </div>
    <div id="app-4">
        <ol>
            <!-- 배열에 접근하여 반복문 수행 -->
            <li v-for = "todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>
    <div id="app-5">
        <p>{{ message }}</p>
        <!-- 단방향 이벤트 핸들링 v-on -->
        <button v-on:click="reverseMessage">메시지 뒤집기</button>
    </div>
    <div id="app-6">
        <p>{{ message }}</p>
        <!-- 양방향 이벤트 핸들링 v-model -->
        <input v-model="message">
    </div>

    <script>
        //Vue 인스턴스는 HTML과 상호작용하는 것이 아닌 DOM과 연결되어 반응형 웹으로 동작 
        var app = new Vue({
            el: '#app',
            data: {
                message: '안녕하세요 Vue!'
            }
        })
        // 동적 바인딩 예제
        var app2 = new Vue({
            el: '#app-2',
            data: {
                message : "이 페이지는 " + new Date() + " 에 로드 되었습니다."  
            }
        })
        // 조건문
        var app3 = new Vue({
            el: '#app-3',
            data: {
                seen : true
            }
        })
        // 반복문
        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos : [
                    { text: 'JavaScript 배우기' },
                    { text: 'Vue 배우기' },
                    { text: '무언가 멋진 것을 만들기' }
                ]
            }
        })
        // 사용자 입력 핸들링
        // 단방향
        var app5 = new Vue({
            el : '#app-5',
            data : {
                message : '안녕하세요! Vue.js!'
            },
            methods: {
                reverseMessage() {
                    this.message = this.message.split('').reverse().join('')
                },
            },
        })
        // 양방향
        var app6 = new Vue({
            el : '#app-6',
            data : {
                message : '안녕하세요 Vue!'
            }
        })
    </script>
</body>
</html>